/* Font */
.root {
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

/* HOME */
/* Header */
.header {
    -fx-background-color: #4a90e2;
    -fx-padding: 15 30;
    -fx-alignment: CENTER_LEFT;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 5);
}

.titolo {
     -fx-text-fill: white;
     -fx-font-size: 24px;
     -fx-font-weight: bold;
 }

/* Sfondo del body */
.body-scroll {
    -fx-background: linear-gradient(to bottom right, #34495e, #2c3e50); /* Da sistemare */
    -fx-background-color: transparent;
}

/* Bottoni dell'Header */
.btnFiltro, .btnProfilo {
    -fx-background-color: rgba(255, 255, 255, 0.2); /* Trasparenza bianca come mockup */
    -fx-text-fill: white;
    -fx-background-radius: 12;
    -fx-padding: 8 18;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-border-color: rgba(255, 255, 255, 0.4);
    -fx-border-radius: 12;
}

.btnFiltro:hover, .btnProfilo:hover {
    -fx-background-color: rgba(255, 255, 255, 0.3);
}

/* LOGIN e REGISTRAZIONE+/
/* Card login e registrazione */
.login-card, .registrati-card {
    -fx-background-color: white;
    -fx-background-radius: 30;
    -fx-padding: 40;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 20, 0, 0, 15);
}

.login-titolo, .registrati-titolo {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: #4a90e2;
    -fx-padding: 0 0 20 0;
}

/* Campi di testo */
.campo-input {
    -fx-background-color: #f1f4f8;
    -fx-background-radius: 10;
    -fx-padding: 12;
    -fx-border-color: transparent;
}

.campo-input:focused {
    -fx-border-color: #4a90e2;
    -fx-border-radius: 10;
    -fx-background-color: white;
}

/* Bottone Accedi e Registrati */
.btnAccedi, .btnRegistrati {
    -fx-background-color: #4a90e2;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-padding: 12;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.btnAccedi:hover {
    -fx-background-color: #357abd;
}

.btnGoogle {
    -fx-background-color: white;
    -fx-text-fill: #5f6368; /* Grigio scuro Google */
    -fx-border-color: #dadce0; /* Bordo grigio chiaro */
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 12;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.btnGoogle:hover {
    -fx-background-color: #f8f9fa;
    -fx-border-color: #bdc1c6;
}

/* Bottoni sotto separatore */
.btnAltro {
    -fx-background-color: transparent;
    -fx-text-fill: #4a90e2;
    -fx-border-color: #4a90e2;
    -fx-border-radius: 8;
    -fx-font-size: 18px;
    -fx-cursor: hand;
}

.btnAltro:hover {
    -fx-background-color: #f1f4f8;
}

/* Campo per errori */
.campo-errore {
    -fx-background-color: #ffcccc;
    -fx-border-color: #e74c3c;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.scritta-errore {
    -fx-fill: #e74c3c;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-padding: 5 0;
}